<%- include('../../fragments/header.ejs'); %>
<%- include('./menu.ejs'); %>

<div>
        <table>
            <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>Логин</th>
                    <th>Почта</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.login %></td>
                        <td><%= user.email %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
</div>

<%- include('../../fragments/footer.ejs'); %>
